body {
    background-color: #000;
	font-family: 'Ubuntu Mono', sans-serif;
	font-weight:400;
}

html {
	background: url(../img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content div {
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	color: #aaa;
	margin:24px;
	padding:6px;
	width:900px;
	background:transparent;
}

.title {
	font-family: 'Abel', sans-serif;
	font-size:28px;
	float:left;
	width: 200px;
	position:absolute;
	top:4px;
	color:#ddd;
	text-shadow: 0 2px 3px #555;
}

.header {
    background-color: #000;
    height: 70px;
    width: 100%;
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.menu {
    margin-left:200px;
	position: absolute;
	top: 32px;
}

.menu ul {
    clear:both;
    list-style-type: none;
}

.menu ul li {
	cursor: pointer;
	font-size:16px;
    color: #ddd;
    width: 90px;
    margin: 7px;
    float:left;
}