body {
    background-color: #000;
    font-family: 'Ropa Sans' !important;
    font-style: normal;
}

.background {
    background-image: url("../img/bg.jpg");
    float: left;
    height: 960px;
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    z-index: -1;
}

.title {
	font-size:34px;
	float:left;
	width: 200px;
	position:absolute;
	top:2px;
	color:white;
}

.header {
    background-color: #fb7;
    height: 70px;
    width: 100%;
    filter: alpha(opacity=08);
    -moz-opacity:0.08;
    -khtml-opacity: 0.08;
    opacity: 0.08;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.menu {
    margin-left:200px;
	position: absolute;
	top: 28px;
}

.menu ul {
    clear:both;
    list-style-type: none;
}

.menu ul li {
	cursor: pointer;
	font-size:18px;
    color: white;
    width: 100px;
    margin: 8px;
    float:left;
}